@model YouConf.Data.Entities.Conference

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("Id", Model.HashTag)
    
    <fieldset>
        <legend>Conference</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.HashTag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HashTag)
            @Html.ValidationMessageFor(model => model.HashTag)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Abstract)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Abstract)
            @Html.ValidationMessageFor(model => model.Abstract)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">      
            @Html.EditorFor(model => model.StartDate, "LocalDateTime", new { TimeZoneId = Model.TimeZoneId })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate, "LocalDateTime", new { TimeZoneId = Model.TimeZoneId })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeZoneId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeZoneId)
            @Html.ValidationMessageFor(model => model.TimeZoneId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HangoutUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HangoutUrl)
            @Html.ValidationMessageFor(model => model.HangoutUrl)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
