@model YouConf.Data.Entities.Conference
@{
    ViewBag.Title = "Edit conference";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if(Model != null){
        @Html.Hidden("Id", Model.HashTag)
    }
    
    <fieldset>
        <legend>Conference</legend>

        <div class="editor-label">
            @Html.LabelWithRequiredAsterisk(model => model.HashTag)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.HashTag, new { title = "This should be a unique hashtag that identifies your conference. If live chat is enabled, this hashtag will be used for Twitter comments." })
            @Html.ValidationMessageFor(model => model.HashTag)
        </div>

        <div class="editor-label">
            @Html.LabelWithRequiredAsterisk(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { title = "The name of your conference" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelWithRequiredAsterisk(model => model.Abstract)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Abstract, new { title = "The short description for your conference. This will be shown on the conference list page." })
            @Html.ValidationMessageFor(model => model.Abstract)
        </div>

        <div class="editor-label">
            @Html.LabelWithRequiredAsterisk(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { Title = "The full description of your conference. This will be shown on the conference detail page." })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelWithRequiredAsterisk(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate, "LocalDateTime", new { TimeZoneId = Model.TimeZoneId, Tooltip = "This should be specified in local time for your chosen conference timezone." })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelWithRequiredAsterisk(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate, "LocalDateTime", new { TimeZoneId = Model.TimeZoneId, Tooltip = "This should be specified in local time for your chosen conference timezone." })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelWithRequiredAsterisk(model => model.TimeZoneId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeZoneId, new { Tooltip = "The local timezone for your chosen conference" })
            @Html.ValidationMessageFor(model => model.TimeZoneId)
        </div>

        <div class="editor-label">
            @Html.LabelWithRequiredAsterisk(model => model.HangoutId)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.HangoutId, new { title = "The unique hangout id from Google Hangouts. Only available once you've setup your hangout." })
            @Html.ValidationMessageFor(model => model.HangoutId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Cancel", "Details", new { hashTag = Model.HashTag })
</div>
