@model YouConf.Data.Entities.Presentation

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("conferenceHashTag", ((YouConf.Data.Entities.Conference)ViewBag.Conference).HashTag)
    @Html.Hidden("Id", Model.Id)    

    <fieldset>
        <legend>Presentation</legend>

        <div class="editor-label">
            @Html.LabelWithRequiredAsteriskFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelWithRequiredAsteriskFor(model => model.Abstract)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Abstract)
            @Html.ValidationMessageFor(model => model.Abstract)
        </div>

        <div class="editor-label">
            @Html.LabelWithRequiredAsteriskFor(model => model.StartTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartTime, "LocalDateTime", new { TimeZoneId = ((YouConf.Data.Entities.Conference)ViewBag.Conference).TimeZoneId, Tooltip = String.Format("This should be specified in local time for your chosen conference timezone ({0})", ((YouConf.Data.Entities.Conference)ViewBag.Conference).TimeZoneId) })
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>

        <div class="editor-label">
            @Html.LabelWithRequiredAsteriskFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Duration, new { title = "The duration of your presentation in minutes" })
            @Html.ValidationMessageFor(model => model.Duration)
        </div>

        <div class="editor-label">
            @Html.LabelWithRequiredAsteriskFor(model => model.YouTubeVideoId)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.YouTubeVideoId, new { title = "The unique youtube video id from YouTube. Only available once you've recorded your hangout and the video for this part of the hangout is on YouTube." })
            @Html.ValidationMessageFor(model => model.YouTubeVideoId)
        </div>

        <div class="editor-label">
            @Html.LabelWithRequiredAsteriskFor(model => model.Speakers)
        </div>
        <div class="editor-field">
            <fieldset class="checkboxgroup">
                <legend>Speaker/s</legend>
                @foreach (var speaker in (IEnumerable<YouConf.Data.Entities.Speaker>)ViewBag.Speakers)
                {
                    var isChecked = Model.Speakers.Select(x => x.Id).Contains(speaker.Id);
                    <label>
                        <input id="speakerIds" name="speakerIds" type="checkbox" value="@speaker.Id" @(isChecked ? "checked=\"checked\"" : "")>@speaker.Name</label>
                }
            </fieldset>
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Conference", "Details", "Conference", new { hashTag = ((YouConf.Data.Entities.Conference)ViewBag.Conference).HashTag }, null)
</div>
