@using Mvc.Mailer;
<h2>Password reset request from YouConf</h2>
<p>
    Hi there @ViewBag.Username,<br />
    <br />
    We recently received a password reset request for your email address. If you would like to reset your password, please do so using the following link: 
    <a href="@Url.Abs(@Url.Action("ResetPassword", "Account", new { key = ViewBag.Token }))">Reset your password</a>
</p>


<p>Please note that the link above is only valid for 24 hours, so if you wish to reset your password after this, you'll have to request it again using the <a href="@Url.Abs(@Url.Action("ForgotPassword", "Account"))">forgotten password page.</a></p>
<p>If you did not request a password reset, please ignore this email.</p>


