@using Mvc.Mailer;
<p>
    Hi there @ViewBag.Username,
</p>
<p>Thank you for registering with YouConf. We hope you find the site useful for both attending and creating your own virtual conferences.</p>
<ul>
    <li>If you're new to the site and would like to find a conference to attend, a good place to start is the <a href="@Url.Abs(@Url.Action("Index", "Conference"))">Conferences page.</a></li>
    <li>If you'd like to create your own conference, be sure to check out our <a href="@Url.Abs(@Url.Action("Index", "Help"))">help page</a> first as it contains all the information you need to get off to a great start.</li>
</ul>
<p>
    Thanks again,
    <br />
    The YouConf Team
</p>
