@{
    ViewBag.Title = "Forgot your password?";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <p>Enter your email address in the box below. If it matches an existing account we will send password reset instructions to you. Note that if you've only signed in using your Microsoft or Google credentials in the past, you may not have a local password setup. If this is the case, simply return to the sign-in page and try to sign in using either the Microsoft or Gogle buttons.</p>
    <fieldset>
        <legend>Reset your password</legend>
        <div class="editor-label">
            <label for="email">Your email:</label>
        </div>
        <div class="editor-field">
            @Html.TextBox("email")
        </div>
        <div class="editor-label">
            <label>Are you a human?</label>
        </div>
        <div class="editor-field no-tooltip">
            @Html.Raw(Html.GenerateCaptcha("captcha", "white"))
            @Html.ValidationMessage("captcha")
        </div>
        <input type="submit" value="Send reset instructions" />
    </fieldset>
}