@model YouConf.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="grid tablet-block">
    <div class="col-1-2">
        <section id="loginForm">
            <h2 style="margin: 0">Use a local account to log in</h2>
            @using (Html.BeginForm(new { returnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Log in Form</legend>
                    <div class="editor-label">
                        @Html.LabelWithRequiredAsteriskFor(m => m.UserName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="editor-label">
                        @Html.LabelWithRequiredAsteriskFor(m => m.Password)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="editor-label">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </div>
                    <input type="submit" value="Log in" />
                </fieldset>
                <p>
                    @Html.ActionLink("Register", "Register", new { returnUrl = ViewBag.ReturnUrl }, new { @class = "no-button" }) if you don't have an account. @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "no-button" })
                </p>
            }
        </section>
    </div>
    <div class="col-1-2">
        <section class="social" id="socialLoginForm">
            <h2 style="margin: 0">Use another service to log in</h2>
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Sidebar{}
