@model YouConf.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div class="grid">
    <div class="col-1-2">
        <section id="loginForm">
            <h2 style="margin: 0 0 0.5em">Create a local account</h2>
            @using (Html.BeginForm(new { returnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Registration Form</legend>
                    <div class="editor-label">
                        @Html.LabelWithRequiredAsteriskFor(m => m.UserName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="editor-label">
                        @Html.LabelWithRequiredAsteriskFor(m => m.Email)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="editor-label">
                        @Html.LabelWithRequiredAsteriskFor(m => m.Password)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="editor-label">
                        @Html.LabelWithRequiredAsteriskFor(m => m.ConfirmPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <input type="submit" value="Register" />
                </fieldset>
            }
        </section>
    </div>
    <div class="col-1-2">
        <section class="social" id="socialLoginForm">
            <h2 style="margin: 0 0 0.5em">Register using another service</h2>
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Sidebar{}
