@model YouConf.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset your password";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.Hidden("token", (string)ViewBag.Token)
    <fieldset>
        <legend>Reset password form</legend>
        <div class="editor-label">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.NewPassword)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
        <input type="submit" value="Reset password" />
    </fieldset>
}